* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
  overflow-x: hidden;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
}
